<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= render "shared/user_info", user:@book.user %>
      <h2 class="mt-3">New book</h2>
      <%= render "shared/form", book:@new_book, button_text:"Create Book" %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <%= render "shared/book_detail", book:@book %>
      <%= render "shared/book_comment_list", book_comments: @book.book_comments %>
      <%= render "shared/error_messages", obj:@book_comment %>
      <%= render "shared/book_comment_form", book: @book, book_comment: @book_comment %>
    </div>
  </div>
</div>